@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #050611;
  --foreground: #f4f6ff;
  --card: #0c0f2e;
  --card-foreground: #dde0ff;
  --popover: #050611;
  --popover-foreground: #f4f6ff;
  --primary: #0500e1;
  --primary-foreground: #f5f7ff;
  --secondary: #0c0f25;
  --secondary-foreground: #e7e9ff;
  --muted: #0a0f21;
  --muted-foreground: #99a2d5;
  --accent: #5c60ff;
  --accent-foreground: #060717;
  --destructive: #ff3d71;
  --destructive-foreground: #fff1f4;
  --border: #1a1e3f;
  --input: #1a1e3f;
  --ring: #4f53ff;
  --chart-1: #0500e1;
  --chart-2: #5c60ff;
  --chart-3: #02c2ff;
  --chart-4: #6e37ff;
  --chart-5: #ff7bdc;
  --radius: 0.5rem;
}

.dark {
  --background: #050611;
  --foreground: #f4f6ff;
  --card: #0c0f2e;
  --card-foreground: #dde0ff;
  --popover: #050611;
  --popover-foreground: #f4f6ff;
  --primary: #0500e1;
  --primary-foreground: #f5f7ff;
  --secondary: #0c0f25;
  --secondary-foreground: #e7e9ff;
  --muted: #0a0f21;
  --muted-foreground: #99a2d5;
  --accent: #5c60ff;
  --accent-foreground: #060717;
  --destructive: #ff3d71;
  --destructive-foreground: #fff1f4;
  --border: #1a1e3f;
  --input: #1a1e3f;
  --ring: #4f53ff;
  --chart-1: #0500e1;
  --chart-2: #5c60ff;
  --chart-3: #02c2ff;
  --chart-4: #6e37ff;
  --chart-5: #ff7bdc;
}

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
